/HelloWorld/target/
/WindowMaster/target/
/WindowMasterDebug/target/
/PracticeProgramming/target/
/PracticeWithBooleans/target/
/PracticeWithLoops/target/
/PracticeWithArrays/target/
/ObjectInstantiation/target/
